body {
    background-color: black;
    background-image: linear-gradient(90deg, white, aqua);
}

.eventDrivenButtons {
    width: 80px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    border-color: lightsalmon;
}

.soundButton {
    width: 250px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    border-color: black;
}